build
dist
.dep.inc
nbproject
Universe/map
Universe/unitChanges
GenerateBoolTransCode/outputCode
*.o
configure
install-sh
*.status
*.log
.deps
depcomp
missing
aclocal.m4
*.in
\#*
.#*
autom4te.cache
Universe/Universe
.cproject
.project
.settings
Debug